body{
    background-color: var(--cor-background);
    font-family: var(--fonte-principal);
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    width: 100%;
    height: 100%;
}

.white-top{
    background-color: var(--cor-background-02);
    width: 350px;
    text-align: center;
    padding-bottom: 30px;
    border-radius: 15px 15px 0px 0px;
}

.backgroud-top img{
    border-radius: 15px 15px 0px 0px;
}

.foto-perfil{
    margin-top: -50px;
    margin-bottom: 15px;
}

.foto-perfil img{
    border-radius: 50%;
    border: 5px solid #fff;
}

.nome-idade h1{
    font-size: 20px;
    font-weight: 700;
}

.nome-idade span{
    color: var(--cor-fonte-secundaria);
    font-size: 19px;
    font-weight: 400;
}

.cidade p{
    color: var(--cor-fonte-secundaria);
    margin-top: 15px;
}

.milhoes{
    background-color: var(--cor-background-02);
    width: 290px;
    display: flex;
    justify-content: space-around;
    padding: 30px 30px;
    border-radius: 0px 0px 15px 15px;
    border-top: 1px solid #0000002a;
}

.milhoes h4{
    font-weight: 700;
    text-align: center;
    padding-bottom: 3px;
}

.milhoes p{
    color: var(--cor-fonte-secundaria);
    font-size: 11px;
    text-align: center;
}